@namespace Mbk.RoleplayAPI.UI.Shared.Chat

<root class=@RootClass>
    <label class="author">@Author :</label>
    <label class="message">@Message</label>
</root>

@code {

    private string RootClass { get; set; }
    public string Author { get; set; }
    public string Message { get; set; }

    protected override async void OnParametersSet()
    {
        await Task.Delay(5000);

        RootClass = "faded";
        StateHasChanged();
    }

}
